@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-primary: #4f46e5;
    --color-secondary: #10b981;
}

/* Custom scrollbar for better desktop PWA feel */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}